/* CSS */

html, body{
	width: 100%; height: 100%;
	background-color: whitesmoke;
}

.navbar-brand img{
	width: 28px; height: auto;
	margin: 0px 5px; padding: 0px;
	border-radius: 14px;
}

#my_key{
	width: 100%; height: auto;
	padding: 12rem 0px;
	background-color: lightsteelblue;
	background-image: url("../images/img_key.png");
	background-position: center;
	color: white;
}

#my_key h1{
	margin: 1rem 0px;
	font-size: 3rem;
}

#my_key h2{
	font-size: 1.7rem; 
}

#my_key h3{
	font-size: 1.25rem; 
}
#my_key p{
	margin: 1rem 0px;
	font-size: 1rem;
}

#my_portfolio{
	text-align: center;
}

#my_portfolio{
	width: 100%; height: auto;
	padding: 6rem 0px;
}

#my_portfolio i{
	font-size: 4.5rem;
}

#my_portfolio h3{
	font-size: 2rem;
}

#my_portfolio p{
	font-size: 1rem;
}

.img_showcase{
	background-size: cover;
	background-position: bottom;
}

.box_showcase{
	padding: 6rem;
}

#my_about{
	width: 100%; height: auto;
	background-color: lightsteelblue;
	background-image: url("../images/img_key.png");
	background-position: center;
	color: white;
}

#my_contact{
	width: 100%; height: auto;
}

#my_contact i{
	padding: 0.2rem;
	font-size: 2rem;
}
.background-container {
	position: relative;
	width: 100%;
	height: 400px; /* 高さを指定 */
	background-image: url('./images/img_key.png');
	background-size: cover; /* 画像のサイズをコンテナにフィットさせる */
	background-position: center; /* 画像を中央に配置 */
}

/* テキスト要素のスタイル */
.text-on-background {
	position: absolute;
	top: 50%; /* 縦方向の中央揃え */
	left: 50%; /* 横方向の中央揃え */
	transform: translate(-50%, -50%); /* 中央に配置 */
	color: white; /* テキストの色 */
	font-size: 2rem; /* フォントサイズ */
	font-weight: bold; /* フォントの太さ */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* テキストに影をつけて読みやすくする */
}
